
    .query_student, .add_student, .update_student,.del_student,.login{
        border: 1px solid black;
        margin:0 auto;
        margin-top: 30px;
        width: 70%;
        /* background-color: aqua; */
    
    }
    .login{
        background-color: aqua;
        height: 15vh;
        width: 20%;
        margin-top: 100px;
    }
    .login>div:nth-child(1){
        margin-top: 15px;
    }

    h1, h2{
        text-align: center;
    }
    
    .dropDownMenu {
        background-color: #e3f2fd;
    }
    
    form button{
        border-radius: 23%;
       
    }

    .table_editDel_td{
        width:5%;
    }