
    .query_student, .add_student, .update_student,.del_student{
        border: 1px solid 1px;
        margin:0 auto;
        margin-top: 30px;
        width: 70%;
        /* background-color: aqua; */
        text-align: center;
    }

